<form (submit)="submit($event)" [formGroup]="formulaire">
    <div class="mb-3">
        <label for="nom" class="form-label">Email<span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="nom" placeholder="name@example.com" formControlName='email'>
        @if (inputInvalid('email')) {
            @if (formulaire.get('email')?.hasError('required')) {
                <div class="text-danger">Le champ est obligatoire</div>
            }
            @if (formulaire.get('email')?.hasError('email')) {
                <div class="text-danger">Le format attendu est un email</div>
            }
        }
    </div>
    
    <div class="mb-3">
        <label for="nom" class="form-label">Nom<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="nom" placeholder="Nom de Famille..." formControlName='nom'>
        @if (inputInvalid('nom')) {
            <div class="text-danger">Champ invalide</div>
        }
    </div>

    <button type="submit" class="btn btn-outline-primary" [disabled]="formulaire.invalid">Valider</button>
</form>
