@if(adherent$ | async; as adherent) {

    @if (editAdherent) {
        <app-adherent-form [adherent]="adherent"></app-adherent-form>
    } @else {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Détails adhérent</h5>
                
                <div>Nom : {{ adherent.prenom | titlecase }} {{ adherent.nom | uppercase}}</div>

                <div class="row">
                    <div class="col-md">Email : {{ adherent.email }}</div>
                    <div class="col-md">Téléphone : {{ adherent.telephone }}</div>
                </div>

                <div>Date d'adhésion : {{ adherent.dateAdhesion | date }}</div>
                <div>Statut : {{ adherent.statut | statut }}</div>
                <div>Ville : {{ adherent.ville }}</div>
                <div>Type : {{ adherent.type | titlecase }}</div>
                <div>Notes : {{ adherent.notes }}</div>

                <hr class="mb-3">

                <button type="button" class="btn btn-outline-primary" routerLink="/adherents">Retour liste adhérents</button>
                <button type="button" class="btn btn-outline-warning ms-2" (click)="editAdherent = true">Editer</button>
                <button type="button" class="btn btn-outline-danger ms-2" (click)="supprimerAdherent(adherent)">Supprimer</button>
            </div>
        </div>
    }
}

@if (error()) {
    <p>Une erreur est survenue !</p>
}